.container{
    border: 1px solid silver;
    border-radius: 8px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.534);
    margin: 0 50px 50px;
}
.image img{
    
    border-top-left-radius:5px ;
    border-top-right-radius:5px ;
    width: 250px;
}
.text{
    margin-bottom: 20px;
}
.buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.buttons img{
    width: 45px;
    border-radius: 50%;
    transition: 0.3s all;
}
.buttonsVisit{
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.534);
    font-weight: bold;
    color: black;
    text-decoration: none;
    background-color: rgb(13, 199, 13);
    padding: 7px 20px;
    border-radius: 4px;
    transition: 0.3s all;
}
.buttonsVisit:hover{
    background-color: rgb(132, 247, 0);
    padding: 9px 25px;
}
.buttons img:hover{
    background-color: rgb(138, 3, 3);
    width: 50px;
}